

:root {
    
    --bg-color: hsl(30, 38%, 92%);
    --color-White: hsl(0, 0%, 100%);
    --color-Grey: hsl(228, 12%, 48%);
    --color-Black: hsl(212, 21%, 14%);
    --color-Green: hsl(158, 42%, 18%);
    --Green: hsl(158, 36%, 37%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
    font-size: 14px;
}


.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    background: var(--color-White);
    border-radius: 12px;
    overflow: hidden;
    
}


.product-image picture {
    display: block;
    width: 100%;
    height: 100%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-details {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--color-Grey);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

h1 {
    font-size: 35px;
    line-height: 1.0;
    color: var(--color-Black);
    margin-bottom: 25px;
}

.description {
    font-size: 15px;
    color: var(--color-Grey);
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif ;
    margin-bottom: 20px;
}


.price {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}

.new-price {
    font-size: 32px;
    font-weight: 700;
    color: var(--Green);
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: var(--color-Grey);
}


.add-to-cart {
    background: var(--Green);
    color: white;
    border: none;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 700;
}


.add-to-cart img {
    width: 18px;

}


.add-to-cart:hover {
    background: var(--color-Green);
}


@media (max-width: 600px) {
    body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
    }

    .product-card {
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 20px;
    }

    .product-details {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .new-price {
        font-size: 24px;
    }

    .add-to-cart {
        padding: 12px;
    }

    .product-image img {
        height: auto;
    }
}

@media (max-width: 350px) {
    body {
      padding: 30px 15px;
    }
  
    .product-card {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .new-price {
      font-size: 20px;
    }
  
    .add-to-cart {
      padding: 10px;
      font-size: 14px;
    }
  }